html,body,.container {
  height: 100%;
  width: 100%;
  position: relative;
}
.col-md-3{
  background: black;
  height: 100vh;
}
.col-md-9 {
  height: 100vh;
  background-image: url(http://i.imgur.com/eUDzVyT.jpg);
  background-size: contain;
  background-size: cover;
}
h2, h3, header {
  display: inline-block;
  text-align: center;
  padding: 0 auto;
}
h2, h4, h5, h3 {
  text-align: center;
  color: white;
  font-family: merriweather;
  font-weight: 400;
  text-shadow: 1px 1px 2px #7C7C7C;
}
p, ul {
  color: white;
  font-family: merriweather;
  font-weight: 300;
  font-size: 12px;
}
ul {
  margin: 0px;
  color: white;
  font-family: merriweather;
  font-weight: 300;
  font-size: 16px;
}
.btn:focus {
  outline: none;
}