html,body,.container {
  height: 100%;
  width: 100%;
  position: relative;
}
.col-md-3{
  background: black;
  height: 100vh;
}
.col-md-9 {
  height: 100vh;
  background-image: url(http://7-themes.com/data_images/out/72/7020155-earth-view-space.jpg);
  background-size: contain;
  background-size: cover;
}
h2, h3, header {
  display: inline-block;
  text-align: center;
}
h2, h4, h5, h3 {
  text-align: center;
  color: white;
  font-family: merriweather;
  font-weight: 400;
  text-shadow: 2px 2px 3px #7C7C7C;
}
p, ul {
  color: white;
  font-family: merriweather;
  font-weight: 300;
  font-size: 12px;
}
ul {
  margin: 0px;
  color: white;
  font-family: merriweather;
  font-weight: 300;
  font-size: 16px;
}
#image-space {
  padding: 0px 0px 0px 0px;
}
.post-image{
  width: 100%;
  padding: 0px;
}




